<a href="https://colab.research.google.com/github/rkrzy/data_analysis/blob/main/W2L2_Play_with_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PNUCSE 데이터과학입문  
## 2주차 실습자료  
### 교강사: 박영진, youngjinpark@pusan.ac.kr
---

## 실습 목표

- 에러 메세지를 확인하고 디버깅할 수 있다.
- 매직 커맨드를 활용할 수 있다.
- Google Drive와 연계하여 파일을 읽고 쓸 수 있다.

# 도움말(Docstring) 확인

In [ ]:
a = 10

In [ ]:
a?

In [ ]:
class Calculator:
  def __init__(self):
    self.result = 0

  def add(self, num):
    self.result += num
    return self.result

In [ ]:
Calculator?

In [ ]:
def mult(a, b):
    """
    Multiplies two numbers and returns the result.

    Args:
        a (int or float): The first number.
        b (int or float): The second number.

    Returns:
        int or float: The product of `a` and `b`.

    Example:
        >>> mult(3, 4)
        12
        >>> mult(2.5, 4)
        10.0
    """
    return a * b

In [ ]:
mult?

# 에러 다루기 Error Handling

In [ ]:
Text = "Hello World!!"
Text[3] = "G"

TypeError: 'str' object does not support item assignment

In [ ]:
a = 5
b = "Hello"

print(a + b)

ㅇHello

In [ ]:
arr = [1, 2, 3, 4, 5

In [ ]:
a = class

In [ ]:
for i in range(10):
  sum = 10 / i

print(sum)

In [ ]:
a = 0
b = 100 / a

In [ ]:
a = number

In [ ]:
arr = [1,2,3,4,5,6,7,8,9,10]

for i in range(len(arr) + 1):
  print(arr[i])

1
2
3
4
5
6
7
8
9
10

IndexError: list index out of range

# 원활하게 디버깅을 수행하는 방법

In [ ]:
a = 100
sum = 0

for i in range(a):
  sum = sum + i

In [ ]:
a = 10
sum = 0

for i in range(a):
  sum = sum + i * i

# 매직 커맨드 활용

In [ ]:
%magic

In [ ]:
%pdb
a = 10
b = "Hello World!!"
c = 3.14
d = 0.0

print(a / d)

Automatic pdb calling has been turned ON

ZeroDivisionError: float division by zero

> <ipython-input-39-f921a65fba96>(7)<cell line: 0>()
      3 b = "Hello World!!"
      4 c = 3.14
      5 d = 0.0
      6
----> 7 print(a / d)

--KeyboardInterrupt--

KeyboardInterrupt: Interrupted by user

In [ ]:
%time a = 10

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 12.2 µs

In [ ]:
%time a= 1000/5

CPU times: user 4 µs, sys: 0 ns, total: 4 µs
Wall time: 8.34 µs

In [ ]:
%whos

Variable     Type        Data/Info
----------------------------------
Calculator   type        <class '__main__.Calculator'>
Text         str         Hello World!!
a            float       200.0
arr          list        n=10
b            str         Hello World!!
c            float       3.14
d            float       0.0
i            int         9
mult         function    <function mult at 0x7e1e023284a0>
sum          int         285

In [ ]:
%%time
for i in range(100):
  b = a * a

CPU times: user 10 µs, sys: 2 µs, total: 12 µs
Wall time: 16.2 µs

In [ ]:
%%time
a = 3
b = 4
c = 5

if a**2 + b**2 is c**2:
  print("직각 삼각형입니다.")

In [ ]:
%pwd

**실습: 강의 자료를 보고, 새로운 폴더를 만들고 확인해보세요.**

**TODO: Check lecture slides and make a new directory.**

In [ ]:
mkdir Data

# 구글 드라이브 불러오기

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# csv 파일 읽어오기

In [ ]:
import pandas as pd

pharmacy = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Data/부산광역시_금정구_약국 현황_20240924.csv', encoding="EUC-KR")
print(pharmacy)

        약국명칭        약국전화번호                         약국소재지(도로명)
0    부곡온누리약국  051-715-0133    부산광역시 금정구 부곡로 128, 1층 일부호 (부곡동)
1       수강약국  051-508-0929    부산광역시 금정구 체육공원로 665, 수강약국 (두구동)
2      키다리약국  051-949-2119  부산광역시 금정구 중앙대로 1931, 1층 일부호 (구서동)
3       황금약국           NaN           부산광역시 금정구 서동로 159-1 (서동)
4      신제일약국  051-583-1717  부산광역시 금정구 중앙대로 2097, 1층 일부호 (남산동)
..       ...           ...                                ...
103   팔송보건약국  051-581-0661      부산광역시 금정구 중앙대로 2101, 1층 (남산동)
104     두실약국  051-582-1090      부산광역시 금정구 중앙대로 1943, 1층 (구서동)
105     동서약국  051-522-6318        부산광역시 금정구 서동중심로 61, 1층 (서동)
106     진성약국  051-513-9620         부산광역시 금정구 부곡로 93, 1층 (부곡동)
107  메디팜대성약국  051-582-1772      부산광역시 금정구 금강로 206-1, 1층 (장전동)

[108 rows x 3 columns]

# txt 파일 저장하기

In [ ]:
idx = 0
name = pharmacy['약국명칭']
number = pharmacy['약국전화번호']
address = pharmacy['약국소재지(도로명)']

path = '/content/drive/MyDrive/Colab Notebooks/Data/pharmacy_0.txt'

with open(path, "w", encoding="utf-8") as f:
  f.write(name[idx] + " ")
  f.write(number[idx] + " ")
  f.write(address[idx])

# Text to speech (with pip)

gTTS에 대한 자세한 파라미터 설명은 [링크](https://gtts.readthedocs.io/en/latest/module.html#module-gtts.tts)에서 확인가능합니다.

gTTS는 라이브러리는 구글 번역기 서버와 컴퓨터를 중개하는 API 역할을 수행합니다.

즉, text는 로컬 컴퓨터에서 음성파일로 변환되는 것이 아닌, 구글 번역기 서버에서 음성파일로 변환되어 컴퓨터로 다시 돌아오게 됩니다.

In [ ]:
pip install gTTS

Collecting gTTS
  Downloading gTTS-2.5.4-py3-none-any.whl.metadata (4.1 kB)
Requirement already satisfied: requests<3,>=2.27 in /usr/local/lib/python3.11/dist-packages (from gTTS) (2.32.3)
Requirement already satisfied: click<8.2,>=7.1 in /usr/local/lib/python3.11/dist-packages (from gTTS) (8.1.8)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.27->gTTS) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.27->gTTS) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.27->gTTS) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests<3,>=2.27->gTTS) (2025.1.31)
Downloading gTTS-2.5.4-py3-none-any.whl (29 kB)
Installing collected packages: gTTS
Successfully installed gTTS-2.5.4

In [ ]:
from gtts import gTTS
import os

file_name = "hello.mp3"
language = "ko"
text = "안녕하세요"

speech = gTTS(text,lang=language)
speech.save(file_name)