<a href="https://colab.research.google.com/github/rkrzy/data_analysis/blob/main/W4L1_Pandas_and_Tables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PNUCSE 데이터과학입문  
## 4주차 실습자료  
### 교강사: 박영진, youngjinpark@pusan.ac.kr
---

## 실습 목표

- Pandas
- DataFrame
- Table Basics
- DataFrame w/ Real Data
  - NBA
  - Census

# Pandas

In [ ]:
#p.7
#colab에서는 이미 pandas가 설치되어 있습니다.
!pip install pandas

# DataFrame

In [1]:
import pandas as pd
import numpy as np

In [ ]:
#p.12
df = pd.DataFrame()
print(df)

In [ ]:
#p.12 gen from list
df = pd.DataFrame(data = [1,2,3,4,5])
df

In [ ]:
#p.12 gen from ndarray
df = pd.DataFrame(np.array([[1,2,3],[4,5,6]]))
df

In [ ]:
#p.12 gen from series
series = pd.Series([10,20,30], index=['a','b','c'])
df = pd.DataFrame(series)
df

In [ ]:
#p.12 gen from dict
dict_data = {'Name':['Minseok', 'Taekgwan', 'Jinyoung'], 'Score':[90,85,95]}
df = pd.DataFrame(dict_data)
df

In [ ]:
#p.12 gen from map
map_data = map(lambda x: x*2, [1,2,3,4])
df = pd.DataFrame(map_data, columns=['Values'])
df

In [ ]:
#p.12 dtype
df = pd.DataFrame(np.array([[1,2,3],[4,5,6]])) # ndarray
print(df)
df2 = pd.DataFrame(np.array([[1,2,3],[4,5,6]]), dtype=float) # ndarray
print(df2)

In [ ]:
#p.12 copy = False
original_data = np.array([[10, 20], [30, 40]])
df_no_copy = pd.DataFrame(original_data, copy=False)

df_no_copy.iloc[0, 0] = 999

print("Original Data:\n", original_data)
print("DataFrame:\n", df_no_copy)

In [ ]:
#p.12 copy = True
original_data = np.array([[10, 20], [30, 40]])
df_copy = pd.DataFrame(original_data, copy=True)

df_copy.iloc[0, 0] = 999

print("Original Data:\n", original_data)
print("DataFrame:\n", df_copy)

In [ ]:
#p.15
import datetime as dt
import numpy as np
import pandas as pd

In [ ]:
#p.15
np.random.seed(0) # set a seed for reproducibility
s = pd.Series(np.random.rand(5), index=["a", "b", "c", "d", "e"])
pd.DataFrame(s)

In [ ]:
#p.15
pd.Series(np.linspace(0, 10, num=5)).to_frame()

In [ ]:
#p.16
import pandas as pd
data ={'apples':[3,2,0,1], 'oranges':[0,3,7,2]}
df=pd.DataFrame(data)
df

In [ ]:
#p.17
data ={'apples':[3,2,0,1], 'oranges':[0,3,7,2]}
df=pd.DataFrame(data,index=['Ace', 'Baloon', 'Coco', 'Data'])
df

In [ ]:
#p.18
np.random.seed(0) # set seed so result is reproducible
pd.DataFrame(
    {
        'random':np.random.rand(5),
        'text':['hot','warm','cool','cold',None],
        'truth':[np.random.choice([True, False]) for _ in range(5)]
    },
    index=pd.date_range(
        end=dt.date(2019,4,21),
        freq='1D',
        periods=5,
        name='date'
    )
)

In [ ]:
#p.19
dict0 = {'col1': [1, 2, 3], 'col2': [4, 5, 6]}
pd.DataFrame.from_dict(data = dict0)

In [ ]:
#p.20
pd.DataFrame([
  {'mag':5.2, 'place': 'California'},
  {'mag':1.2, 'place':'Alaska'},
  {'mag':0.2, 'place':'California'},
])

In [ ]:
#p.20
list_of_tuples=[(n,n**2,n**3) for n in range(5)]
list_of_tuples

In [ ]:
pd.DataFrame(
    list_of_tuples,
    columns=['n','n_squared','n_cubed']
)

In [ ]:
#p.21
data= {'col_1':[3,2,1,0], 'col_2':['a','b','c','d']}
pd.DataFrame.from_dict(data)

In [ ]:
#p.21
data= {'row_1':[3,2,1,0], 'row_2':['a','b','c','d']}
pd.DataFrame.from_dict(data, orient='index')

In [ ]:
#p.21
pd.DataFrame.from_dict(data, orient='index', columns=['A','B','C','D'])

In [ ]:
#p.23
from google.colab import files
file_uploaded = files.upload()

df=pd.read_csv('dataset.csv')
df

In [ ]:
#p.24
df=pd.read_csv('dataset.csv',index_col=0)
df

In [ ]:
#p.25
df.to_csv('output.csv',index=False)
df.to_csv('output_indexed.csv',index=True)

# Important DataFrame operations

In [ ]:
#p.28 Load IMDB movie Dataset (file based) download link https://www.kaggle.com/datasets/PromptCloudHQ/imdb-data
file_uploaded=files.upload()
movies_df=pd.read_csv('IMDB-Movie-Data.csv',index_col='Title')
movies_df

In [ ]:
#p.28 Load IMDB movie Dataset (API based)
import os
import kagglehub
import zipfile

path = kagglehub.dataset_download("PromptCloudHQ/imdb-data")
file_path = os.path.join(path, os.listdir(path)[0])
print(file_path)
movies_df = pd.read_csv(file_path,index_col="Title")
movies_df

In [ ]:
#p.29
movies_df.head()

In [ ]:
#p.29
movies_df.head(10)

In [ ]:
#p.29
movies_df.tail(10)

In [ ]:
#p.30
movies_df.info()

In [ ]:
#p.30
movies_df.shape

In [ ]:
#p.31 Handling duplicates
#오류 유도, pandas 2.0.0 버전부터 DataFrame.append()메소드 삭제
#공식문서 https://pandas.pydata.org/docs/dev/whatsnew/v2.0.0.html#deprecations
print(pd.__version__)
temp_df=movies_df.append([movies_df,movies_df])
temp_df.shape

In [ ]:
#p.32
temp_df=pd.concat([movies_df,movies_df])
temp_df.shape

In [ ]:
#p.32
temp_df=temp_df.drop_duplicates()
temp_df.shape

In [ ]:
#p.32
temp_df=pd.concat([movies_df,movies_df])
temp_df.drop_duplicates(inplace=True)
temp_df.shape

In [ ]:
#p.33
movies_df.describe()

In [ ]:
#p.34
movies_df['Genre'].describe()

# Table Basics

In [ ]:
#p.37
from datascience import *
import numpy as np
from google.colab import files
uploaded=files.upload()

In [ ]:
Table?

In [ ]:
#p.38
cones=Table.read_table('cones.csv')
cones

In [ ]:
#p.38
import pandas as pd
cones1=pd.read_csv('cones.csv')
cones1

In [ ]:
#p.39
cones1=pd.read_csv('cones.csv',index_col=0)
cones1

In [ ]:
#p.39
#Define cones' attributes
conesAttributes=["Flavor","Color","Price"]

# Define cones' data, must be same sequence as attributes
conesData = [["strawberry", "pink", 3.55],
	["chocolate", "light brown", 4.75],
	["chocolate", "dark brown", 5.25],
	["strawberry", "pink", 5.25],
	["chocolate", "dark brown", 5.25],
	["bubblegem", "pink", 4.75]]

# Define cones
cones3 = pd.DataFrame(data=conesData, columns=conesAttributes)
cones3

In [ ]:
#p.40
t=cones
t.select('Flavor')

In [ ]:
#p.40
t.drop('Flavor')

In [ ]:
#p.40
t.sort('Rating')

In [ ]:
#p.40
t.where('Price',lambda p: p<=4)

In [ ]:
#p.41
no_colors=cones.drop('Color')
no_colors

In [ ]:
#p.41
no_colors1=cones1.drop(columns='Color')
no_colors1

In [ ]:
#p.42
cones.drop('Color')

In [ ]:
#p.42
cones1.drop(columns='Color')

In [ ]:
#p.42
#delete cols, axis =1 means delete cols
cones1.drop(labels = 'Price', axis=1)

In [ ]:
#p.42
#delete rows, axis =0 means delete rows
cones1=pd.read_csv('cones.csv')
cones1.drop(labels = 3, axis=0)

In [ ]:
#p.43
cones.sort('Price')

In [ ]:
#p.43
cones.sort('Price',descending=True)

In [ ]:
#p.43
cones1.sort_values(by=['Price'])

In [ ]:
#p.43
cones1.sort_values(by=['Price'],ascending=False)

In [ ]:
#p.44
cones.where('Flavor','chocolate')

In [ ]:
#p.44-45
# Making boolean series for a cones
filter = cones1['Flavor'] == "chocolate"
filter

In [ ]:
#p.44-45
# Pass filter to cones
cones1.loc[filter]

In [ ]:
#p.46
#weird action
cones1.where(cones1['Flavor'] == 'chocolate')

In [ ]:
#p.47
print(cones.column('Flavor'))
print(cones.column(0))

In [ ]:
#p.47
print(cones.column('Flavor').item(0))

s0 = cones.column('Flavor')
s1 = cones.column('Price')

#print(np.mean(s0)) # error!
print(np.mean(s1))

# Pandas Examples - NBA dataset

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from google.colab import files
file_uploaded = files.upload()

In [ ]:
nba_salaries = pd.read_csv('nba_salaries.csv')
nba_salaries

<h2>Data sort</h2>

In [ ]:
# Show first 3 rows
nba_salaries.iloc[:3]

In [ ]:
# Sort nba_salaries based on 'PLAYER' then show first 5 rows
nba_salaries.sort_values('PLAYER').iloc[:5]

In [ ]:
# Sort nba_salaries by 'SALARY'
nba = nba_salaries.sort_values('SALARY')
nba

In [ ]:
# Sort nba first by 'TEAM', then by 'SALARY'
nba.sort_values(by=['TEAM', 'SALARY'], ascending=False)

<h2>Selecting Rows</h2>

In [ ]:
# Take the top five high salary players
nba.sort_values('SALARY', ascending=False).iloc[:5]

In [ ]:
# Filter the rows where 'SALARY' >= 10000000
nba[nba['SALARY']>10000000]

In [ ]:
# Filter the rows where 'SALARY' >= 10000000, then sort by 'SALARY', ascending=False
nba[nba['SALARY']>10000000].sort_values('SALARY', ascending=False)

In [ ]:
# See output
nba['PLAYER']=='Stephen Curry'

In [ ]:
# Filter the rows where 'PLARYER' == 'Stephen Curry'
nba[nba['PLAYER']=='Stephen Curry']

In [ ]:
# Get a table of all the Warriors
nba[nba['TEAM']=='Golden State Warriors']

In [ ]:
# Fuzzy search for records in 'TEAM' columns containing 'Warriors'
nba[nba['TEAM'].str.contains('Warriors', regex=False)]

In [ ]:
# Filter 'POSITION' == 'PG' & 'SALARY' > 1500000
nba[(nba['POSITION']=='PG') & (nba['SALARY']>1500000)]

# Census Data Analysis

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# As of Mar 2023, this census file is online here:
data = 'http://www2.census.gov/programs-surveys/popest/technical-documentation/file-layouts/2010-2019/nc-est2019-agesex-res.csv'

full_census_table = pd.read_csv(data)
full_census_table

<h3>Analyzing Census Data for Age</h3>

In [ ]:
# Select relevant columns
partial_census_table = full_census_table[['SEX', 'AGE', 'POPESTIMATE2014', 'POPESTIMATE2019']]
partial_census_table

In [ ]:
# Simplify the columns name
us_pop = partial_census_table.rename(columns= {'POPESTIMATE2014': '2014', 'POPESTIMATE2019': '2019'})
us_pop

In [ ]:
# Filter the records between 97 and 100, regardless sex
filter = (us_pop['SEX']==0) & (97<=us_pop['AGE']) & (us_pop['AGE']<=100)
us_pop_by_high_ages = us_pop[filter]
us_pop_by_high_ages.drop(columns='SEX')

In [ ]:
filter = us_pop['SEX']==0
us_pop_ages = us_pop[filter]
us_pop_ages.drop(columns='SEX')

In [ ]:
change=us_pop_ages['2019'] - us_pop_ages['2014']
change

In [ ]:
# Make a new df census from us_pop, then add two new columns
us_pop_change = us_pop_ages.drop(columns='SEX').copy()
us_pop_change['Change']=change
us_pop_change['Percent Change']=change/us_pop_change['2014']
us_pop_change.style.format({'Percent Change': '{:.2%}'})

In [ ]:
overall_change=us_pop_change[us_pop_change['AGE']==999]
overall_change.style.format({'Percent Change': '{:.2%}'})

In [ ]:
# Sort census by Change, ascending=False
us_pop_change.sort_values(by='Change', ascending=False).style.format({'Percent Change': '{:.2%}'})

<h3>Analyzing Census Data for Gender</h3>

In [ ]:
# As of Mar 2023, this census file is online here:
data = 'http://www2.census.gov/programs-surveys/popest/technical-documentation/file-layouts/2010-2019/nc-est2019-agesex-res.csv'

full_census_table= pd.read_csv(data)
full_census_table

In [ ]:
# Select relevant columns
partial_census_table = full_census_table[['SEX', 'AGE', 'POPESTIMATE2014', 'POPESTIMATE2019']]
partial_census_table

In [ ]:
# Simplify the columns name
us_pop = partial_census_table.rename(columns=	{'POPESTIMATE2014': '2014', 'POPESTIMATE2019': '2019'})
us_pop

In [ ]:
# Drop column '2010' then filter 'AGE'==999
us_pop_2019 = us_pop.drop(columns='2014')
all_ages = us_pop_2019[us_pop_2019['AGE']==999]
all_ages

In [ ]:
# Add a column Proportion
pop_2019 = all_ages[all_ages['SEX']==0]['2019'].item()
all_ages.loc[:, 'Proportion'] = all_ages['2019']/pop_2019
all_ages.style.format({'Proportion':'{:.2%}'})

In [ ]:
# Filter AGE == 0
infants = us_pop_2019[us_pop_2019.AGE==0]
infants

In [ ]:
# Add a column Proportion
infants.loc[:,'Proportion'] = infants['2019']/([infants.iloc[0, 2]]*3)
infants.style.format({'Proportion':'{:.2%}'})

In [ ]:
# Get all females data except total age 999
females = us_pop_2019[(us_pop_2019.SEX==2) & (us_pop_2019.AGE!=999)]
females

In [ ]:
# Get all males data except total age 999
males = us_pop_2019[(us_pop_2019.SEX==1) & (us_pop_2019.AGE!=999)]
males

In [ ]:
# Make a new df ratios
ratios = pd.DataFrame({'AGE': females.AGE, '2019 F:M RATIO': np.array(females['2019'])/np.array(males['2019'])})
ratios.style.format({'2019 F:M RATIO':'{:.2%}'})

In [ ]:
# Filter the ratios more than 75
ratios[ratios.AGE>75]
# or ratios[ratios['AGE']>75]

In [ ]:
%matplotlib inline
ratios.plot('AGE')

In [ ]:
import plotly.express as px
fig = px.line(ratios, x='AGE', y='2019 F:M RATIO')
fig.show()